@page {
    padding: 10mm;
    margin: 0
}

@media screen {
    html {
        padding: 10mm;
        margin: 0;
    }

    *, *:before, *:after {
        outline: 1px solid black;
    }
}

html {
    font-size: 10pt;
}

body {
    margin: 0;
}

*, *:before, *:after {
    font-family: 'Courier', serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-top: 0;
}

/* if not specified, li markers should be disc. */
ul {
    list-style-type: disc;
    padding-left: 2rem;
}

/* all section's first level ul should not have markers nor paddings. */
section > ul {
    list-style: none;
    padding: 0;
}

section > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5em 0;
}

/* but the experiences section can be hard to read if no marker */
section[data-role=experiences] > ul > li {
    margin-left: -10mm;
    padding-left: 9mm;
    border-left: 1mm solid black;
}

/* put detail before interval. */
[data-role=detail] {
    order: 1;
    width: 160mm;
}

[data-role=interval] {
    order: 2;
    font-weight: 900;
    white-space: nowrap;
}

/* header section should be tailored specially. */
section[data-role=general] {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

section[data-role=general] [data-role=name] {
    font-size: 2rem;
}

section[data-role=general] [data-role=other] {
    list-style: none;
    margin: 0
}

/* main courses should be columned to save paper space. */
section[data-role=education] > ul[data-role=courses] {
    column-count: 2;
    column-rule: 0.1mm solid black;
}

section[data-role=education] > ul[data-role=courses] > li {
    margin: 0;
    align-items: flex-end;
}

section[data-role=education] h2 {
    font-size: 1rem;
}

ul[data-role=skills] {
    column-count: 2;
}

ul[data-role=skills] > li {
    display: block;
    margin-top: 0;
}

ul[data-role=skills] > li h2 {
    font-size: 1rem;
    margin-top: 0;
}