@media print {
    @page {
        padding: 10mm;
        margin: 0;
    }
}

@media screen {
    html {
        padding: 10mm;
        margin: 0;
    }

    *, *:before, *:after {
        outline: 1px solid black;
    }
}

html {
    font-size: 10pt;
}

body {
    margin: 0;
}

*, *:before, *:after {
    font-family: 'Courier', serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-top: 0;
}

h2 {
    font-size: 1rem;
}

/* if not specified, li markers should be disc. */
ul {
    list-style-type: disc;
    padding-left: 2rem;
}

sup {
    vertical-align: baseline;
}

.list {
    padding: 0;
}

.list--bare {
    list-style: none;
}

.list--columned {
    column-count: 2;
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.5em 0;
}

.event__interval {
    order: 2;
    font-weight: 900;
    white-space: nowrap;
}

.event__detail {
    order: 1;
    max-width: 162mm;
}

.event--highlighted {
    border-left: 1mm solid black;
    margin-left: -10mm;
    padding-left: 9mm;
}

.event--compact {
    margin: 0;
    display: list-item;
    list-style-type: disc;
}

.event--compact .event__interval {
    order: 1;
    font-weight: 900;
}

.event--compact .event__detail {
    order: 2;
}

.courses {
    column-count: 2;
    column-rule: 0.1mm solid black;
    padding-left: 0;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
}

.general {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.general__name {
    font-size: 2rem;
}

.general__other {
    list-style: none;
    margin: 0;
}

.skill {
    display: block;
}

.skill__category {
    margin: 0;
}

.skill__list {
    margin: 0.5em 0;
    list-style-type: disc;
}